
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

Coin des blagues à papa :<br />

<div class="joke">
    <div class="joke-text">
        - Je peux-tu avoir un café, 1 sucre pas de crème.<br>
        - On a pas de crème, monsieur. Est-ce qu'un café sans lait fera l'affaire?
    </div>
</div>

<div class="joke">
    <div class="joke-text">
        Q: Pourquoi en Suède ils n’ont pas de calculatrice?<br>
        R: Parce qu’ils comptent Suédois
    </div>
</div>

<div class="joke">
    <div class="joke-text">
        A: C’est quoi le nom de la femme à John Deer?<br>
        B: Demande à John y va te le Deer!<br>
        A: Et c’est quoi le nom de son frère?<br>
        B: C’est Paul, mais faut Paul Deer!
    </div>
</div>

<div class="joke">
    <div class="joke-text">
        Q: Comment on appelle ça une poutine santé?<br>
        R: Une pouine!
    </div>
</div>

<div class="joke">
    <div class="joke-text">
        Vous connaissez l'histoire de l'armoire ?<br>
        <br>
        Elle n'est pas commode...
    </div>
</div>

<div class="joke">
    <div class="joke-text">
        - Tu as déjà entendu une salade chanter ?<br>
        - Non, t'es bête. Ça ne chante pas les légumes.<br>
        - Ben moi, j'ai déjà entendu une carotte râpée.
    </div>
</div>

<div class="joke">
    <div class="joke-text">
        Pourquoi les maisons en Grande-Bretagne sont plus fragiles ?<br>
        <br>
        Car elles sont en glaise.
    </div>
</div>
